#republicaNova {
  background-image: url(../assets/background/republica\ nova.webp);
}
#ditaduraMilitar {
  background-image: url(../assets/background/militar.jpeg);
}
#republicaPopulista {
  background-image: url(../assets/background/populista.jpg);
}
#eraVargas {
  background-image: url(../assets/background/eravargas.jpg);
}
#republicaVelha {
  background-image: url(../assets/background/republicavelha.jpg);
}
