* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
* button {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#top {
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-items: center;
  gap: 1%;
  z-index: 10;
  height: 10%;
  font-size: 20px;
  background-color: rgb(0, 0, 155);
  color: white;
}
#top img {
  display: flex;
  width: 5%;
}
.container {
  display: flex;
  width: 90%;
  height: 90%;
}
/*
Atributos 
*/
.titulo1 {
  color: rgb(51, 51, 51);
}
.titulo2 {
  color: rgb(185, 185, 185);
}
.titulo3 {
  color: rgb(235, 235, 235);
}
.presidente {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  width: 250px;
  height: 310px;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgb(224, 245, 224);
}
.presidente img {
  display: flex;
  width: 150px;
  height: 180px;
  border-radius: 3px;
}
.presidente:hover {
  transform: scale(0.9);
}
