#provisorio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(assets/republicas/governo-provisorio.webp);
}
#governo_provisorio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  align-items: center;
  height: 100%;
  width: 100%;
}
#governo_provisorio h1 {
  display: flex;
  padding-bottom: 8%;
}
#linha1_governoprovisorio {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 6%;
}
