#nova {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-bottom: 5%;
  background-image: url(assets/republicas/republica\ nova.webp);
  background-size: cover;
  justify-content: center;
  align-items: center;
}
#republica_nova {
  display: flex;
  flex-direction: column;
  gap: 2%;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#linha1-nova {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}
#linha2-nova {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
